div{
    border: 1px solid black;
    width: 100px;
}
.container{
    width: 700px;
    height: 100px;
    display: flex;
    align-items: flex-end;
}
  div:nth-child(2) {
    align-self: center;
  }
  div:nth-child(3) {
    align-self: flex-start;
  }
  div:nth-child(4) {
    align-self: center;
  }