*{
    box-sizing: border-box;
}
div{
    border: 1px solid black;
}
.container{
    display: inline-flex;
    width: 100%;
}
.item-3{
    flex-grow: 2;
}
.item-2, .item-3, .item-4{
    flex-basis: 25%;
} 
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .container{
        display: block;
    }
}
@media only screen and (min-device-width: 1025px) {
        .item-3{
            margin: 0 40px;
        }
}